body { /*all with style linked will have this background color*/
  background-color:lightgrey;
}

div {
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
  float: left;
}

li a {
  display:block;
  color:white;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;  
}

li a:hover{
  background-color:white;
  color: black;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type:none; /*removes bullets*/
  margin:0;
  padding:0;
  overflow:auto;
  background-color: rgb(77, 72, 72);
}

.active {
  background-color:coral;
}

.active:hover {
  background-color:coral;
  color:white;
}

.profilePic {
  width: 175px;px;
  height: 175px;px;
  border-radius: 50%;
}

#hiddenH1 {
  color:white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}